<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Creacion de cuentas - Proyecto Drones</title>
  <link rel="stylesheet" href="/static/style.css">
  
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

  <form action="/register" method="POST"
        class="bg-white p-8 rounded-xl shadow-lg w-96">

    <h1 class="text-2xl font-bold text-center mb-6">
      Sistema SGSI
    </h1>

    <input
        type="hidden"
        name="csrf_token"
        id="csrf_token"
        >

    <input
      type="email"
      name="email"
      placeholder="Correo"
      required
      class="w-full mb-6 p-2 border rounded"
    >

    <input
      type="password"
      name="password"
      placeholder="Contraseña"
      required
      class="w-full mb-6 p-2 border rounded"
    >

    <select 
    name="rol" 
    required 
    class="w-full mb-6 p-2 border rounded"
    >
    <option value="">Selecciona un rol</option>
    <option value="empresa">Empresa</option>
    <option value="usuario">Usuario</option>
    <option value="auditor">Auditor</option>
    </select>

    <button
      type="submit"
      class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700">
      Registrar
    </button>


  </form>

</body>
</html>